@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* Reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #181818;

}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   
   
}
#taf  {
    width: 4rem;
    }
    
    #add{
        display: flex;
        flex-direction: column;
        color: #f8fafc;
        background-color: #262626;
        gap: 2rem;
        padding: 5rem;
    }
    
    #select{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
        
h1{
    font-size: 2.25rem;
    position: absolute;
}

.input-box label{
    font-weight: 50;
    font-size: 1rem;
    color: #cbd5e1;
}
   
.input-field{
    display: flex;
    background-color: transparent;

    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 10px;
}


.input-field input{
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #f8fafc;
    padding: 0 0.5rem;
    
}
